@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono";
  font-size: 18px;
}
#hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url("Hackerman_bg.gif")
      no-repeat center bottom / cover;
  color: whitesmoke;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  
  display: flex;
  align-items: center;
  justify-content: left;
  /*   text-align: center; */
}
.info{
  padding-left: 60px;
}
#hero .info h1 {
  font-size: 2rem;
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
}
#hero .info h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#hero .info h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#hero .info p {
  font-size: 1.2rem;
  max-width: 50%;
}
#hero .button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto Mono";
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  align-items: right;
  transition-duration: 0.4s;
  border-radius: 10px;	

}
  .button1 {background-color: #d4d1e2; color: #542ab6de; left: 30; position: sticky;  } 
  .button2 {background-color: #542ab6de; color:#d4d1e2; left: 50; position: absolute; }   

  #plaint {
    width: 100;
    padding: 12px 20px;
    background-color:#d4d1e2;
    color: #542ab6de

  }
  